.content{
	margin-top:15px;
}

.sidenav{
	position: fixed;
	z-index:1;
	margin-left:-17px 
}

.cover-container{
	max-width: 42rem;
}
div.inner h3.masthead-brand{
	float:left;
}
.nav-masthead{
	float:right;
}
.fa-minus{
	color:red;
}

